<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Book Not Found</title>
	<link rel="stylesheet" href="final.css" type="text/css">
</head>

<body class="snowBackground">
	<h1>Book Not Found</h1>
	<div>
		Try using the search page to find the right keyword for your book before attempting to favorite it.
	</div>
	<hr>
	<button class="button" onClick="location.href='/setFavorite';">&lt Back to Set Favorite</button>
	<br>
	<button class="button" onClick="location.href='/home';">&lt Home</button>
</body>

</html>