<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Home Page</title>
	<link rel="stylesheet" href="final.css" type="text/css">
</head>

<body class="homePage">
	<h1 class="mainh1">Welcome to the Book Store</h1>

	<div class = "box">
		<h2>Find Books &#128218</h2>

		<ul>
		<li>Get a list of books by name <a href="/listOfBooks" id="bookLink">Get Books</a></li>
		</ul><br>
	</div>

	<hr><hr>

	<div class="favoritesBox">
		<h2>Favorites &#11088</h2>

		<ul>
			<li>To set your favorite book <a href="/setFavorite">Set Favorite</a></li>
			<li>Get your favorite books <a href="/retrieveFavorite">Get Favorites</a></li>
			<li>To remove all favorites <a href="/removeAllFavorites">Remove Favorites</a></li>
		</ul>
	</div>
	<br>

	<hr>
</body>

</html>
