<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Setting Favorite</title>
	<link rel="stylesheet" href="final.css" type="text/css">
</head>

<body class="beigeBackground">
	<h1>Get A List of a Book &#128218</h1>

	<script>
        function confirmCreation() {
            // console.log("In confirmDeletion");
			alert(`Alert`);

            let text = "Are you sure you want to submit your favorite selection?\n";
			text += "Currently this application doesn't support multiple favorites.\n";
            return confirm(text);
                // window.location.href = `http://localhost:${location.port}/processApplication`;
        }

    </script>

	<div id="setFavorite">
	<div id="centered-container">
    <form action=<%- address %> method="post">
		<label class="bold inc">Book title: </label><input type='text' id='book' name='book' required>
        <br>
		<br>
		<fieldset class="rounded">
        <input type="reset" id="reset" class="button" name="reset" value="Reset"> 
        <input type="submit" id="submit" class="button" name="submit" value="Get List">
		</fieldset>
    </form>
	
	</div>
	</div>
    
	<hr>
	<button class="button" onClick="location.href='/home';">&lt Home <%- address %></button>
	<!-- <a href="/home">HOME</a> -->
</body>

</html>