<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>List</title>
	<link rel="stylesheet" href="final.css" type="text/css">
</head>

<body class="beigeBackground">
	<h1>Your List</h1>

	<div>
		<%- table %>
	</div>
	<br>

	<hr>
	<button class="button" onClick="location.href='/home';">&lt Home</button>
	<!-- <a href="/home">HOME</a> -->
</body>

</html>
