<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Page 2 Confirmation</title>
	<link rel="stylesheet" href="final.css" type="text/css">
</head>

<body>
	<h1>Page 2 Confirmation</h1>

	<div>
		
	</div>
	<br>
	<a href="/home">HOME</a>
</body>

</html>