<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removed</title>
    <link rel="stylesheet" href="final.css" type="text/css">
</head>

<body class="snowBackground">
    <h1 class="slate">Removal of All Favorites</h1>
    <div id="removeFavorite">
    All applications have been removed from the database.  Number of applicants removed: <%- deletedCount %>
    </div>
    <br><br>
    <hr>
	<button class="button" onClick="location.href='/home';">&lt Home</button>

</body>

</html>
