<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Remove Favorites</title>
    <link rel="stylesheet" href="final.css" type="text/css">
</head>

<body class="beigeBackground">
    <h1 class="maroon">Removing All Favorites</h1>
    <script>
        function confirmDeletion() {
            // console.log("In confirmDeletion");

            let text = "Are you sure you want to remove all favorites?";
            if (confirm(text) === true) {
                console.log("true");
                // let host = window.location.host;
                // console.log(<%- address %>);
                let url = <%- address %>;
                window.location.href = `${url}`;
            }
        }

    </script>

    <div id="centered-container">
        <form action=<%- address %> method="post">
            <input type="submit" id="deleteButton" value="Remove all favorites" onclick="confirmDeletion()"/>
        </form>
    </div>
    <br>
    <hr>
	<button class="button" onClick="location.href='/home';">&lt Home</button>

</body>

</html>

  <!-- <button class="button" id="deleteButton" onclick="confirmDeletion()">Remove all favorites</button> -->